@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,600,700);

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 40px;
    padding-bottom: 20px;
    background: url(../images/layout/line.png) no-repeat center bottom;
}

h2 {
    width: auto;
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin: 20px 0 40px 0;
}

h3, p {
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
}
a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

h1, a {
    text-transform: uppercase;
}

li {
    list-style: none;
}

.header {
    width: 1100px;
    margin: 0 auto;
    height: 110px;
}

.logo {
    margin: 60px 0 0 40px;
    width: 120px;
    height: 37px;
    float: left;
	text-indent: -90000px;
	background: url("../images/layout/logo.png") no-repeat 0 0;
}

.logo:hover {
	opacity: 0.8;
}

.main-navigation {
    margin: 65px 25px 0 0;
    float: right;
    list-style: none;
}

.main-navigation li {
    float: left;
    padding: 7px 5px;
    position: relative;
    display: block;
}

.main-navigation a {
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 5px;
}

.main-navigation li.active a, .main-navigation li a:hover {
    background: #643a79;
}

.main-navigation ul {
    position: absolute;
    left: -9999999px;
    opacity: 0;
    -webkit-transition:0.25s linear opacity;
}

.main-navigation ul li {
    padding-top: 5px;
    float: none;
    background: #643a79;
}

.main-navigation ul a {
    white-space: nowrap;
    display: block;
    
}

.main-navigation li:hover ul {
    left: 5px;
    opacity: 1;
    
}

.main-navigation li:hover a {
    background: #643a79;
    
}

.main-navigation li:hover ul a {
    text-decoration: none;
    -webkit-transition:-webkit-transform 0.075s linear;
}

.main-navigation li:hover ul li a:hover {
    background: #643a79;
    background:rgba(51,51,51,0.50);
}

.color-purple {
    background: #87509c; 
}

.page-welcome, .page-services, .page-team, .page-skills, .page-portfolio, .page-testimonials, .page-getintouch {
    width: 1100px;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.page-welcome h1 {
    text-transform: none;
    background: none;
    color: white;
    font-size: 42px;
    margin: 140px 95px 0;
    display: inline-block;
    text-align: center;
    line-height: 1.2;  
}

.color-turquoise {
    background: #17c2a4; 
}

.page-services {
    background: #17c2a4; 
    text-align: center;
    color: white;
}

.collumn-shell {
    width: 210px;
    height: auto;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    overflow: hidden;  
}

.collumn-image {
    max-width: 210px;
    max-height: 140px;
    overflow: hidden;
    margin: 0 auto 55px;
}

.color-grey {
    background: #e7f1f8; 
}

.page-team {
    background: #e7f1f8; 
    text-align: center;
    color: #3c4761;
}

.collumn-content a {
    color: #3c4761;
}

.collumn-content a:hover {
    color: #27283d;
}

.collumn-content h3 {
    color: #48c1e9;
}

.collumn-content p {
    line-height: 1.5em;
    padding-top: 15px;
}    

.collumn-portrait-team {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-color: grey;
    margin: 0 auto 40px;
}

.collumn-portrait-team img {
    width:100%;
    height:100%;
}

.collumn-content a{
    margin-top: 40px;
}

.social {
    padding: 0;
    margin: 30px auto;
    display: inline-block;
}

.social li, .social li a{
	width: 32px;
	height: 32px;
    float: left;
}

.social li{
    margin: 0 5px;
	background: #bdd1df;
	border-radius: 100%;
    list-style: none;
}
.social li a{
    text-indent: -90000px;
    background-repeat: no-repeat;
    background-position: center;
}

.social li.facebook a{
    background-image: url(../images/layout/facebook.png);	
}

.social li.twitter a{
    background-image: url(../images/layout/twitter.png);	
}

.social li.linkedin a{
    background-image: url(../images/layout/linkedin.png);	
}

.social li.mail a{
    background-image: url(../images/layout/mail.png);	
}

.social li:hover{
	background: #a7c7dd;
}

.color-white {
    background: #ffffff; 
}

.page-skills {
    background: #ffffff; 
    text-align: center;
    color: #3c4761;
}

.collumn-skills, .collumn-skills a {
    width: 134px;
    height: 134px;
    border-radius: 134px;
    vertical-align: middle;
    background-color: white;
    font-size: 55px;
    font-weight: 300;
    color: black;
    margin-bottom: 30px;
}

.collumn-skills a:after {
    content: "%";
    font-size: 35px;
}

.collumn-skills { 
    display: inline-block;
}

.collumn-skills a {
    display: table-cell;
}

.borderblue {
        border: solid 13px #30bae7;
}

.borderpink {
        border: solid 13px #d74680;
}

.borderaqua {
        border: solid 13px #15c7a8;
}

.borderorange {
        border: solid 13px #eb7d4b;
}

.color-beige {
    background: #ffdd99; 
}

.page-portfolio {
    background: #ffdd99; 
    text-align: center;
    color: #393939;
}

.tabs {
    position: relative;
    width: 1100px;
    min-height: 440px;
    margin: 25px 0;
}

.tab {
    display: inline-block;
    text-align: center;
    padding: 13px 0px ;
    font-size: 18px;
    background: #ebc985;
    color: #393939;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 425px;
}

label {
    border-radius: 5px;
    padding: 13px 26px 13px;
    margin-left: -2px;
    position: relative;
    left: 1px;
}

label:hover {
        background: #fff;  
}

.content {
    margin: 60px auto;
    width: 540px;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 5px 30px;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.content a {
    color: #393939;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
}

.tab [type=radio] {
    display: none;
}

[type=radio]:checked ~ label {
    background: #fff;  
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content > * {
    opacity: 1;
    -webkit-transform: translateX(0);
}

.content > * {
    opacity: 0;
    -webkit-transition: all 0.6s ease;
}

.collumn-notebook {
    width: 540px;
    height: 311px;
    background: url(../images/content/notebook.png) no-repeat 0 0;
    display: inline-block;
}

.collumn-notebook img {
    width: 410px;
    height: 256px;
    position: relative;
    margin-top: 18px;    
}

.color-pink {
    background: #d74680; 
}

.page-testimonials {
    background: #d74680; 
    text-align: center;
    color: #ffffff;
}

.collumn-people {
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: top;
    padding: 5px;
    overflow: hidden;
}

.collumn-portrait-people {
    width: 92px;
    height: 92px;
    border-radius: 92px;
    overflow: hidden;
    background-color: grey;
    float: left;
}

.column-content-people {
    width: 350px;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}

.column-content-people p {
    font-style: italic;
    font-size: 21px;
    padding-bottom: 30px;
}

.column-content-people a {
    padding-left: 5px;
}

.column-content-people h3 {
    color: #ffdd99;
}

.column-content-people h3, a {
    line-height: 10px
}
.color-blue {
    background: #3c5499; 
}

.page-getintouch {
    background: #3c5499; 
    text-align: center;
    color: #ffffff;
}

.form-name, .form-email, .form-message {
    margin: 16px 16px;
    padding: 20px 25px;
    background: #273a71;
    border-radius: 4px;
    border: none;
    color: white;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.form-name, .form-email {
    width: 387px;
    height: 16px;
}

.form-name:focus, .form-email:focus, .form-message:focus {
    background: #1d3169;
    outline: none;
}

.form-message {
	width: 860px;
    height: 200px;
    resize: vertical;
}

/* Placeholder */

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.required::-webkit-input-placeholder:after {
    content:'*';
    color: red;
}
.required:-moz-placeholder:after {
    /* Firefox 18- */
    content:'*';
    color: red;
}
.required::-moz-placeholder:after {
    /* Firefox 19+ */
    content:'*';
    color: red;
}
.required:-ms-input-placeholder:after {
    content:'*';
    color: red;
}

.color-darkblue {
    background: #344b8e; 
}

.footer {
    width: 1140px;
    margin: 0 auto;
    height: 112px;
    background: #344b8e; 
    text-align: center;
    color: #ffffff;
}

.bottom-navigation {
    margin: 0 auto;
    display: inline-flex;
    list-style: none;
    margin-top: 40px;
}

.bottom-navigation li {
    padding: 0 5px;
}

.bottom-navigation a {
    width: 84px;
    height: 38px;
    padding: 7px 17px;
    font-size: 24px;
    color: #fff;
    text-transform: none;
}

.bottom-navigation li.active a, .bottom-navigation li a:hover {
    color: #30bae7;
}

.button {
    margin: 60px auto 0;
    width: 290px;
    height: 50px;
    padding-top: 40px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    border-bottom: solid 4px hsla(0, 0%, 0%, 0.15);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.orange {
    background: #eb7d4b;
}

.blue {
    background: #17c2a4;
}